* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.5s linear;
    font-family: 'Poppins';
}

section {
    padding: 2rem 8%;
}

html {
    font-size: 65.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    background-color: #000;
}

.chr-hdr {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 2rem 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.2);
}

.cr-logo {
    font-size: 3rem;
    letter-spacing: 2px;
    color: #1d269e;
}

.chr-nvbr a {
    margin-left: 2rem;
    font-size: 1.8rem;
    color: magenta;
}

.chr-nvbr a:hover {
    background-color: #000;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    width: fit-content;
    transition: 0.7s ease-in-out;
}

.chr-home {
    min-height: 100vh;
    padding-top: 10rem;
    display: grid;
    grid-template-columns: 55% 50%;
    justify-content: space-between;
    align-items: center;
    background-color: #edf2ff;
    gap: 2rem;
}

.chr-content {
    line-height: 2.5;
    padding: 1rem;
}

.chr-content h2 {
    font-size: 3rem;
    color: blueviolet;
}

.chr-content p {
    font-size: 1.5rem;
    color: #00a9e0;
}

.chr-img img {
    width: 100%;
}

button {
    background-color: #be5416;
    padding: 1rem 0.5rem;
    border-radius: 1rem;
    min-width: 30%;
    margin-top: 3rem;
    color: #fff;
}

input {
    display: none;
}

label {
    visibility: hidden;
    font-size: 3rem;
    color: #ffa500;

}

@media(max-width:1300px) {
    html {
        font-size: 50%;
    }
}


@media(max-width:991px) {
    .chr-home {
        grid-template-columns: auto;
    }
}

@media(max-width:768px) {
    html {
        font-size: 55%;
    }

    .chr-hdr {
        padding: 2rem;
    }

    .chr-home {
        grid-template-columns: auto;
    }

    label {
        visibility: visible;
    }

    .chr-nvbr {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background-color: #000;
        transform-origin: right top;
        transform: scale(0);
    }

    .chr-nvbr a {
        display: block;
        margin: 1.5rem;
        padding: 1.5rem;
    }

    .chr-hdr input:checked~.chr-nvbr {
        transform: scale(1);
    }

    .chr-hdr input:checked::before {
        content: '/&#67861';
    }
}

@media(max-width:767px) {
    html {
        font-size: 35%;
    }

    .chr-home button {
        min-width: 35%;
    }
}